files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/10_post_django.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if [ -f /tmp/django_leader_only ]
      then
        rm /tmp/django_leader_only
        DOCKER_CONTAINER_ID=`docker ps --no-trunc -q | head -n 1`
        docker exec $DOCKER_CONTAINER_ID bash -c 'python3 manage.py collectstatic --no-input'
        docker exec $DOCKER_CONTAINER_ID bash -c 'python3 manage.py migrate --no-input'
      fi

container_commands:

container_commands:
    # Nginx
    01_move_nginx_conf_file:
        command: mv -f /var/app/current/.ebextensions/nginx.conf /etc/nginx/sites-available/elasticbeanstalk-nginx-docker-proxy.conf
    02_reload_nginx:
        command: "#sudo service nginx reload"
    # Django
    01_django_leader:
      command: "touch /tmp/django_leader_only"
      leader_only: true

# vim: set ft=yaml:
